In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("section_1_data.csv")

In [4]:
df.head()

,Review_Date,Review_Text,User_ID,Business_ID,Business_Name,Business_Category,City,State,Latitude,Longitude,Avg_Business_Star_Rating
0,2014-07-16,okay...so so,6VxJJX7h36bMCCFt7URg6w,9QqLqYIwV-n1BJPjnaYv8A,Beef 'O' Brady's,Bars,Chandler,AZ,33.303847,-111.946838,3.5
1,2014-07-16,Some people complain about the prices but Subw...,viGPiPuMZnV4PR_aiA3-qw,pNQwnY_q4okdlnPiR-3RBA,Empire Bagels,Food,Las Vegas,NV,36.077299,-115.297979,3.5
2,2014-07-16,"Had red curry chicken, the chicken itself was ...",rwehMCinfBjhZ0IbR1zFBw,shCdCHRbnY5FTMJbWl-myQ,Thai Spices,Thai,Mesa,AZ,33.412708,-111.875803,4.0
3,2014-07-16,"Alright, I gave the restaurant manager ample t...",VWqt5IH8fm-k9M0CKFkJzg,HpaYCM_NCauI72LLXxC6SA,Yonaka Modern Japanese,Tapas/Small Plates,Las Vegas,NV,36.114935,-115.209737,4.5
4,2014-07-16,Blehhhh :/ this place shouldn't even be in bus...,Y6-0ToMhjBsm8iYEaT2meg,FC4q3hJyF8oo984xoo3RMg,808 Sushi,Sushi Bars,Las Vegas,NV,36.052181,-115.279227,3.5

In [8]:
#Task 1
uni_res = df['Business_ID'].nunique()
uni_res

30276

In [17]:
#Task 2
review_res = df['Business_ID'].value_counts()
high_rev_id = review_res.idxmax()
high_name = df[df['Business_ID'] == high_rev_id]['Business_Name'].iloc[0]
high_percentage = (review_res.max() / len(df)) * 100
print(high_percentage)
print(high_name)

0.0037612981751552195
Mon Ami Gabi

In [21]:
#Task 3
five_stars = df[(df['State'] == 'NV') & (df['Avg_Business_Star_Rating'] == 5)]
citys_five_stars = five_stars['City'].unique()

print(citys_five_stars)

['Las Vegas' 'Henderson' 'Boulder City' 'Nellis']

In [22]:
#Task 4
hotels_and_travel_reviews = df[df['Business_Category'] == 'Hotels & Travel']
reviews_per_city = hotels_and_travel_reviews['City'].value_counts()
highest_reviewed_city = reviews_per_city.idxmax()
highest_reviewed_city_percentage = (reviews_per_city.max() / len(hotels_and_travel_reviews)) * 100

NameError: name 'dataset' is not defined